
/* 
    Created on : Jul 17, 2022, 2:02:53 PM
    Author     : HAICAO
*/

.hero {
    background-color: grey;
    width: 100%;
    border-radius: 8px;
}

nav ul{
    display: inline-block;
    margin-left: -150px;
}
nav {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 3px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}